@model List<Reference>

@{
    ViewData["Title"] = "References";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>References</h1>

<table>
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Major</th>
			<th>Message</th>
			<th>Güncelle</th>
			<th>Sil</th>
        </tr>
    </thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.FullName</td>
				<td>@item.Major</td>
				<td>@item.Message</td>
				<td><a class="btn btn-outline-warning" asp-action="EditReference" asp-route-id="@item.Id">Güncelle</a></td>
				<td><a class="btn btn-outline-danger" asp-action="DeleteReference" asp-route-id="@item.Id">Sil</a></td>				
			</tr>
		}
	</tbody>
</table>