@model About
<section id="about" class="about">
	<div class="container">

		<div class="section-title">
			<h2>Hakkımda</h2>
			<p>@Model.AboutContent</p>
		</div>

		<div class="row">
			<div class="col-lg-4" data-aos="fade-right">
				<img src="~/iPortfolio/assets/img/profile-img.jpg" class="img-fluid" alt="">
			</div>
			<div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
				<h3>@Model.AboutTitle</h3>
				<p class="fst-italic">
					@Model.Details1
				</p>
				<div class="row">
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>@Model.BirthDate.ToShortDateString()</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>@Model.Website</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Telefon:</strong> <span>@Model.Phone</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Şehir:</strong> <span>@Model.City</span></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul>
							<li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span>@(DateTime.Now.Year-@Model.BirthDate.Year)</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Mezuniyet:</strong> <span>@Model.Graduation</span></li>
							<li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>@Model.Email</span></li>

							<li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> @if (Model.Freelance)
								{
									<span>Available</span>
								}
								else
								{
									<span>Non Available</span>
								}
							</li>
						</ul>
					</div>
				</div>
				<p>
					@Model.Details2
				</p>
			</div>
		</div>

	</div>
</section>